[server default]
user=${MHA_DB_ADMIN_ID}
password=${MHA_DB_ADMIN_PW}
repl_user=${MHA_DB_REPL_ID}
repl_password=${MHA_DB_REPL_PW}
manager_workdir=/var/log/masterha
manager_log=/var/log/masterha/MHA.log
remote_workdir=/var/log/masterha
master_ip_failover_script=/etc/mha_script/master_ip_failover_script


[server1]
hostname=${MHA_DB_1_IP}
port=${MHA_DB_1_PORT}
ssh_port=${MHA_DB_1_SSH_PORT}
master_binlog_dir=/var/lib/mysql
candidate_master=1

[server2]
hostname=${MHA_DB_2_IP}
port=${MHA_DB_2_PORT}
ssh_port=${MHA_DB_2_SSH_PORT}
master_binlog_dir=/var/lib/mysql
candidate_master=1

[server3]
hostname=${MHA_DB_3_IP}
port=${MHA_DB_3_PORT}
ssh_port=${MHA_DB_3_SSH_PORT}
master_binlog_dir=/var/lib/mysql
no_master=1

[server4]
hostname=${MHA_DB_4_IP}
port=${MHA_DB_4_PORT}
ssh_port=${MHA_DB_4_SSH_PORT}
master_binlog_dir=/var/lib/mysql
no_master=1

